@*
Chris Lucian & Chad Davies
CS 643 Advanced Databases
11/8/2014

This a razor file used to generate HTML using C#
Please note the comment tags can both be either "double slash" or "At Star" in these files
depending on the context
*@
@model GameReviewWebsiteProject.Models.Game

@{
    ViewBag.Title = "Game's Details";
}

<h2>Game's Details</h2>

<fieldset>
    <legend>Game</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
