@model IEnumerable<GameReviewWebsiteProject.Models.Game>

@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("search")
    <input type="submit" />
}
@if (!String.IsNullOrEmpty(ViewBag.PreviewSearch))
{
    <h2>You are searching for @ViewBag.PreviewSearch</h2>
    <strong style="color: red;">@ViewBag.SearchError</strong>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h2>@Html.ActionLink(item.Title, "Details", new { id = item.GameId })</h2>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>
