@using GameReviewWebsiteProject.Models
@model GameReview

@{
    ViewBag.Title = Model.Title;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<fieldset>
    <legend>GameReview</legend>

    <div class="display-field">
        <h3>Game: @Html.ActionLink(Model.Game.Title, "Details", "Games", new { id = Model.Game.GameId }, null)</h3>
    </div>
    <div class="display-field">
        Author: @Html.ActionLink(Model.Author.Name, "Details", "Authors", new { id = Model.Author.AuthorId }, null)
    </div>
    <br />
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>
</fieldset>


@if (Request.IsAuthenticated)
{
    <h3>Create Comment</h3>
    <div>
        @using (Html.BeginForm("CreateComment", "GameReviews"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.GameReviewId)
            <div class="display-field">Title: </div>
            <div class="display-field">
                @Html.EditorFor(model => new Comment().Title)
                @Html.ValidationMessageFor(model => new Comment().Title)
            </div>
            <div class="display-field">Comment: </div>
            <div class="display-field">
                @Html.TextArea("Content", "")
                @Html.ValidationMessageFor(model => new Comment().Content)
            </div>
            <input type="submit" value="Add Comment" />
        }
    </div>
}

<h2>Comments</h2>
@foreach (var comment in Model.Comments)
{
    <hr />
    <div>
        <strong>@Html.ActionLink(comment.Gamer.Name, "Details", "Gamers", new { id = comment.Gamer.GamerId }, null) - @Html.DisplayFor(model => comment.Title)</strong>
        <p>
            @Html.DisplayFor(model => comment.Content)
        </p>
        @if (User.Identity.Name.ToLower() == comment.Gamer.Name.ToLower())
        {
            <p>
                @Html.ActionLink("Delete", "Delete", "Comment", new { id = comment.CommentId }, null)
            </p>
        }
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}