@model GameReviewWebsiteProject.Models.GameReview

@{
<<<<<<< HEAD
    ViewBag.Title = "Game Review's Details";
}

<h2>Game Review's Details</h2>
=======
    ViewBag.Title = Model.Title;
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
>>>>>>> origin/master

<fieldset>
    <legend>GameReview</legend>

    <div class="display-field">
        <h2>@Html.ActionLink(Model.Game.Title, "Details", "Games", new { id = Model.Game.GameId }, null)</h2>
    </div>
    <div class="display-field">
        Review By: @Html.DisplayFor(model => model.Author.Name)
    </div>
    <br />
    <div class="display-field">
        <strong>@Html.DisplayFor(model => model.Content)</strong>
    </div>
    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
