@model IEnumerable<GameReviewWebsiteProject.Models.GameReview>

@{
    ViewBag.Title = "Game Reviews";
}

<h2>Game Reviews!</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("search")
    <input type="submit" />
}
@if (!String.IsNullOrEmpty(ViewBag.PreviewSearch))
{
    <h2>You are searching for @ViewBag.PreviewSearch</h2>
    <strong style="color: red;">@ViewBag.SearchError</strong>
}
<table>
    <tr>
        <th>
            Game Review Tite        
        </th>
        <th>
            Game Name
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h2>@Html.ActionLink(item.Title, "Details", new { id = item.GameReviewId })</h2>
            </td>
            <td>
                <h2>@Html.DisplayFor(model => item.Game.Title)</h2>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }

</table>
