@model GameReviewWebsiteProject.Models.Gamer

@{
    ViewBag.Title = "Gamer's Details";
}

<h2>Gamer's Details</h2>

<fieldset>
    <legend>Gamer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Biography)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Biography)
    </div>
</fieldset>
<h2>Comments</h2>
@foreach (var comment in Model.Comments)
{
    <hr />
    <div>
        <strong>@Html.ActionLink(comment.GameReview.Title, "Details", "GameReviews", new { id = comment.GameReview.GameReviewId }, null) - @Html.DisplayFor(model => comment.Title)</strong>
        <p>
            @Html.DisplayFor(model => comment.Content)
        </p>
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
