@*
Chris Lucian & Chad Davies
CS 643 Advanced Databases
11/8/2014

This a razor file used to generate HTML using C#
Please note the comment tags can both be either "double slash" or "At Star" in these files
depending on the context
*@
@model GameReviewWebsiteProject.Models.Gamer

@{
    ViewBag.Title = "Gamer's Details";
}

<h2>Gamer's Details</h2>

<fieldset>
    <legend>Gamer</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Biography)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Biography)
    </div>
</fieldset>
<h2>Comments</h2>
@foreach (var comment in Model.Comments)
{
    <hr />
    <div>
        <strong>@Html.ActionLink(comment.GameReview.Title, "Details", "GameReviews", new { id = comment.GameReview.GameReviewId }, null) - @Html.DisplayFor(model => comment.Title)</strong>
        <p>
            @Html.DisplayFor(model => comment.Content)
        </p>
        @if (User.Identity.Name.ToLower() == comment.Gamer.Name.ToLower())
        {
            <p>
                @Html.ActionLink("Delete", "Delete", "Comment", new { id = comment.CommentId , orgin = "Gamers"}, null)
            </p>
        }
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
