@model IEnumerable<GameReviewWebsiteProject.Models.Gamer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvatarUrl)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h2> @Html.ActionLink(item.Name, "Details", new { id = item.GamerId })</h2>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvatarUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GamerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GamerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GamerId })
        </td>
    </tr>
}

</table>
