@*
Chris Lucian & Chad Davies
CS 643 Advanced Databases
11/8/2014

This a razor file used to generate HTML using C#
Please note the comment tags can both be either "double slash" or "At Star" in these files
depending on the context
*@
@model IEnumerable<GameReviewWebsiteProject.Models.Gamer>

@{
    ViewBag.Title = "Gamers";
}

<h2>Gamers</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("search")    
    <input type="submit" value="Search" />
}
@if (!String.IsNullOrEmpty(ViewBag.PreviewSearch))
{
    <h2>You are searching for @ViewBag.PreviewSearch</h2>
    <strong style="color: red;">@ViewBag.SearchError</strong>
}
@*If the search returns any results show them otherwise show suggestions for refining the search*@
@if (Model.Any())
{

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h2>@Html.ActionLink(item.Name, "Details", new { id = item.GamerId })</h2>
                </td>
            </tr>
        }

    </table>

}
else
{
    <h1>No results for this search</h1> 
    <h2>Please try the following to refine your search.</h2>
    <ul>
        <li>Shorten your query</li>
        <li>Check for extra spaces</li>
        <li>Search for partial words instead of whole words</li>
    </ul>
}
